---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Abigail"
	pubDate={new Date('August 08 2021')}
	heroImage="/about.jpg"
>
	<p>
		Hi, I'm Abigail!
	</p>
	<p>
		I'm a software developer based in Troy, NH. I started <span class="emphasis">Mooseprints Web Design</span> as a passion project to help small businesses, nonprofits, entreprenuers and artists build their online presence.
	</p>
	<p>
		Before becoming a developer, I worked in the nonprofit sector as a therapeutic horseback riding instructor and program coordinator, and spent some time working as a part-time bike mechanic while travelling the country.
	</p>
	<p>
		I've found that many small businesses and nonprofit organizations don't have the time, technical skills or room in their budget to build and maintain a website. My goal is to provide affordable websites that help you convey your message in a meaningful way.
	</p>
	<p>
		Let's connect! I look forward to helping you make an impact.
	</p>
</Layout>
