---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Service from '../components/Service.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Hero />
		<main>
			<section id="services">
				<div class="mission-section">
					<div class="mission-content">
						<h2>Let's work together</h2>
						<h2>to make a bigger impact</h2>
						<p>
							Mooseprint Web Design empowers <span class="emphasis">small businesses</span>, <span class="emphasis">nonprofits</span>, and <span class="emphasis">community-focused organizations</span> to tell their story with affordable hand-crafted websites. Whether you're running a local business, supporting underserved communities, or showcasing your talent as a local artist, we help you deliver your message effectively to achieve your mission.
						</p>
					</div>
				</div>
				<div class="service-container">
					<Service
						icon="/icons/website.svg"
						heading="Website Design & Development"
						checklist={[
							"Custom website tailored to your specific needs",
							"Responsive design for mobile and desktop",
							"Unlimited revisions",
							"SEO optimization to boost search engine visibility",
							"Accessibility best practices for inclusivity",
						]}
					/>
					<Service
						icon="/icons/hosting.svg"
						heading="Hosting & Maintenance"
						checklist={[
							"Reliable hosting at your own domain or sub-domain",
							"Subscription-based maintenace for regular upkeep",
							"Pay-per-update option for infrequent changes",
							"M-F live technical support"
						]}
					/>
				</div>
			</section>

			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
				template serves as a lightweight, minimally-styled starting point for anyone looking to build
				a personal website, blog, or portfolio with Astro.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	.service-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

@media (max-width: 720px) {
	.service-container {
		flex-wrap: wrap;
	}
}

</style>