---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Service from '../components/Service.astro';
import Timeline from '../components/Timeline.astro';
import Button from '../components/Button.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Hero />
		<main>
			<section id="services">
				<div class="mission-section">
					<div class="mission-content">
						<h2>Let's work together</h2>
						<h2>to make a bigger impact.</h2>
						<p>
							Mooseprints Web Design empowers <span class="emphasis">small businesses</span>, <span class="emphasis">nonprofits</span>, and <span class="emphasis">community-focused organizations</span> to tell their story with affordable hand-crafted websites. Whether you're running a local business, supporting underserved communities, or showcasing your talent as a local artist, Mooseprints helps you deliver your message effectively to achieve your mission.
						</p>
					</div>
				</div>
				<div class="service-container">
					<Service
						icon="/icons/website.svg"
						heading="Website Design & Development"
						checklist={[
							"Custom website tailored to your specific needs",
							"Responsive design for mobile and desktop",
							"Unlimited revisions",
							"SEO optimization to boost search engine visibility",
							"Accessibility best practices for inclusivity",
						]}
						price="$650"
					/>
					<Service
						icon="/icons/hosting.svg"
						heading="Hosting & Maintenance"
						checklist={[
							"Reliable hosting at your own domain or sub-domain",
							"Subscription-based maintenace for regular upkeep",
							"Pay-per-update option for infrequent changes",
							"M-F live technical support"
						]}
						price="$50/month"
					/>
				</div>
			</section>
			<Timeline />
			<section class="cta">
				<div class="cta-content">
					<h2>Let's bring your vision to life!</h2>
					<p>
						Ready to create a website that showcases your passion and connects with your audience? 
						Book a free consultation today and let’s make it happen together.
					</p>
					<Button href="https://calendly.com/mooseprintswebdesign/initial-consultation" text="Book a consultation" type="secondary" target="_blank" />
					<Button href="/contact" text="Request information" type="primary" />
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
.service-container {
	display: flex;
	gap: 1.5rem;
}

@media (max-width: 720px) {
	.service-container {
		flex-wrap: wrap;
	}
}

.cta {
    padding: 4rem 2rem;
    background-color: var(--emphasis);
    color: #fff;
		margin-top: 4rem;
    text-align: center;
  }

  .cta-content {
    max-width: 600px;
    margin: 0 auto;
  }

  .cta h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
  }

  .cta p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 1.6;
    color: #f9f9f9;
  }


	@media (max-width: 768px) {
    .cta h2 {
      font-size: 1.75rem;
    }

    .cta p {
      font-size: 1rem;
    }

    .cta-button {
      font-size: 0.9rem;
    }
  }
</style>