---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
{
    title: "Invite visitors to act",
    description:
      "Your website will capture attention with a clear call to action, making it easy for visitors to engage with your brand.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Optimize for SEO",
    description:
      "Mooseprint follows SEO best practices to ensure you're getting the right kind of traffic to your site.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Welcome a diverse audience",
    description:
      "Let everyone enjoy your website with an inclusive design made accessible to users of screen readers and other assistive technologies.",
    icon: "bx:bxs-data",
  },
  {
    title: "Unlimited edits",
    description:
      "Let us nitpick the details and keep your site up to date, so you can spend your time on what's important.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Enrich your site",
    description:
      "Add a blog, photo gallery or social feed to keep your site fresh and engaging for your repeat visitors.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Hassle-free hosting",
    description:
      "We'll take care of hosting your site and all the maintainance that entails, so you never have to worry about downtime.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Revive your online presence
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    There is no one-size-fits-all solution to building a new website. Every Mooseprints website is crafted based on your unique needs and goals.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
