---
import Button from '../components/Button.astro';
---
<section class="hero" role="region" aria-labelledby="hero-heading">
  <div class="hero-content">
    <!-- Left Section: Text and CTA -->
    <div class="hero-text">
      <h1 id="hero-heading">Mooseprints Web Design</h1>
      <p>Custom websites for <span class="emphasis">small businesses</span> and <span class="emphasis">nonprofits</span> serving local communities.</p>
      <div class="hero-btns">
        <Button 
          href="#services" 
          text="Services" 
          type="primary" 
          ariaLabel="Navigate to services offered by Mooseprints Web Design" 
        />
        <Button 
          href="https://calendly.com/mooseprintswebdesign/initial-consultation" 
          text="Book a consultation" 
          type="secondary" 
          target="_blank" 
          ariaLabel="Book an initial consultation with Mooseprints Web Design" 
        />
      </div>
    </div>

    <!-- Right Section: Image -->
    <div class="hero-image">
      <img 
        src="/moose.png" 
        alt="Moose silhouette with a simple design representing the brand" 
        role="img" 
        aria-label="Moose silhouette" 
      />
    </div>
  </div>
</section>

<style>
  .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  background-color: #fff;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 1050px;
  margin: 0 auto;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .hero-content{
    flex-direction: column;
  }
  .hero-text {
    text-align: center;
  }
  .hero-btns {
    display: flex;
    justify-content: center;
    gap: .5rem;
  }
  .hero-image {
    max-width: 60%;
  }
}
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll<HTMLAnchorElement>('a[href^="#"]');
    buttons.forEach((button) => {
      button.addEventListener('click', (event) => {
        event.preventDefault();
        const targetId = button.getAttribute('href');
        const targetElement = targetId ? document.querySelector(targetId) : null;
        if (targetElement instanceof HTMLElement) {
          window.scrollTo({
            top: targetElement.offsetTop,
            behavior: 'smooth',
          });
        }
      });
    });
  });
</script>